<!DOCTYPE html>
<html>
<head>
  <title>Wikiquery</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
  <link rel="shortcut icon" href="https://c1.staticflickr.com/3/2598/4039271995_b711c6400c.jpg" type="image/x-icon">
</head>
<head>
<style>
body {
background: url(http://www.louraty.com/wp-content/uploads/2016/02/globe-1.jpg) no-repeat center center fixed; 
background-size: 45%;
font-family: Aileron;

}
.common {
  text-align:right;
}

.right {
  padding-right: 10%;
  font-size: 1.5vmax
}
</style>
</hea>
<body>

  <div class="home-page">
    <center>
    <h1>WIKIQUERY</h1>
    <form method="Post" action="/results">
      <p>Enter your search query: <input type = "text" name= "query"></p>
      <p><input type = "submit">
    </form>
  <div class="common">
    <p class="right"><strong>Common queries:</strong></p>
    <p class="right">1. Donald J. Trump</p>
    <p class="right">2. Hillary R. Clinton</p>
    <p class="right">3. Pokémon Go</p>
    <p class="right">4. OJ Simpson</p>
    <p class="right">5. Beyoncé</p>
  </div>

</div>

</body>
</html>

